<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Demeter</title>

  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link href='styles/demeter.css' rel='stylesheet' type='text/css'>

  <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
</head>

<div class = "header">
  <a id="modal_trigger" href="#modal" class="btn">Login</a>
  <div id="modal" class="popupContainer" style="display: none">
    <header class="popupHeader">
      <span class = "header_title">Login</span>
      <span class = "modal_close">X<i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
      <!-- username login (going to be default) -->
      <div class="user_login">
        <form id="login">
          <label>Username</label>
          <input type="username" name = "username"/>
          <br />
          <label>Password</label>
          <input type="password" name = "password" />

          <br />
          <div class="checkbox">
            <input id="remember" type="checkbox" />
            <label>Remember me on this computer</label>
          </div>
          <div class="action_btns">
            <div class="one_half"><a href="#" id="register_form" class="btn">Sign up</a></div>
          </div> <!-- Closes check box -->
        </form>
      </div>

      <!-- Register -->
      <div class="user_register" style="display:none">
        <form id = "register">
          <label>Username</label>
          <input type="username"  name = "username"/>
          <br />

          <label>Password</label>
          <input type="password"  name = "password"/>
          <br />

          <label>Birthday (mm/dd/yyyy)</label>
          <input type ="birthday" name = "birthday"/>
          <br />
          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
            <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<body>
  <div id="leftC">
    Today is <%= Time.now.strftime('%A') %>.<br><br>
    <form id="healthStats">
      Have you showered in the last 24 hours? <input type="checkbox" name="shower"><br><br>
      How many minutes did you exercise today?
      <input type="text" name="exercise" size="2">
      <br><br>
      How many hours did you sleep last night?
      <input type="text" name="sleep" size="2"><br><br>
      <input type="submit" value="Submit">
    </form>
    <div id="map"></div>
  </div>

  <div id="rightC">
    <div id="imageSpace"></div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/demeter.js"></script>
</body>
