<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Demeter</title>

  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link href='styles/demeter.css' rel='stylesheet' type='text/css'>
</head>

<div class = "header">
  <div id = "imageSpace"></div>
  <a id="modal_trigger" href="#modal" class="btn">Login</a>
  <div id="modal" class="popupContainer" style="display: none">
    <header class="popupHeader">
      <span class = "header_title">Login</span>
      <span class = "modal_close">X<i class="fa fa-times"></i></span>
    </header>

    <section class="popupBody">
      <!-- username login (going to be default) -->
      <div class="user_login">
        <form>
          <label>Username</label>
          <input type="username"/>
          <br />
          <label>Password</label>
          <input type="password" />

          <br />
          <div class="checkbox">
            <input id="remember" type="checkbox" />
            <label>Remember me on this computer</label>
          </div>
          <div class="action_btns">
            <div class="one_half"><a href="#" id="register_form" class="btn">Sign up</a></div>
          </div> <!-- Closes check box -->å
        </form>
      </div>

      <!-- Register -->
      <div class="user_register" style="display:none">
        <form>
          <label>Username</label>
          <input type="username" />
          <br />

          <label>Password</label>
          <input type="password" />
          <br />

          <label>Birthday</label>
          <input type ="birthday" />
          <br />
          <div class="action_btns">
            <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
            <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>

<body>
  Today is <%= Time.now.strftime('%A') %>.
  <form id="healthStats">
    How many minutes did you exercise today?:<br>
    <input type="text" name="exerciseMin">
    <br>
    How many hours did you sleep last night?:<br>
    <input type="text" name="sleepHours"><br>
    Have you showered in the last 24 hours? <br>
    <input type="radio" name="shower" value=true>Yes<br>
    <input type="radio" name="shower" value=false>No<br>
    <input type="submit" value="Submit">
  </form>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script type="text/javascript" src="js/demeter.js"></script>
</body>
