<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Demeter</title>

  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link href='styles/demeter.css' rel='stylesheet' type='text/css'>
</head>

<body>
  Today is <%= Time.now.strftime('%A') %>.
  <form>
    How many minutes did you exercise today?:<br>
    <input type="text" name="exerciseMin">
    <br>
    How many hours did you sleep last night?:<br>
    <input type="text" name="sleepHours">
  </form>
  
  <form action="">
  <input type="radio" name="shower" value=true>Showered in Last 24 Hours<br>
  <input type="radio" name="shower" value=false>Have not Showered<br>
  </form>
  
  <script src="js/demeter.js"></script>
</body>
