<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Demeter</title>

  <link rel="icon" type="image/png" href="images/favicon.png" />
  <link href='styles/demeter.css' rel='stylesheet' type='text/css'>
</head>

<body>
  Today is <%= Time.now.strftime('%A') %>.

  <script src="js/demeter.js"></script>
</body>
